<!DOCTYPE html>
<html>
  <head>
    <title>UBIC</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="description"
      content="Website for University at Buffalo Investment Club" />
    <meta http-equiv="author"
      content="Ryan Beegel" />
    <meta http-equiv="pragma"
      content="no-cache" />
  </head>
  <body class="layout">
    <%= image_tag 'long_logo.png' %>
    <ul id="navigation">
      <li class="one"><%= link_to "Home", welcome_index_path %>
      <li class="two"><%= link_to "About", welcome_about_path %>
      <li class="three"><%= link_to "Portfolio", portfolio_index_path %>
      <li class="four"><%= link_to "Members", members_index_path %>
      <li class="five"><%= link_to "Join", join_index_path %>
    </ul>

  <%= yield %>

  </body>
  <footer>
    <div class="som">
      <a href="http://mgt.buffalo.edu/" target="blank"><%= image_tag 'mgt.gif' %></a>
    </div>
    <div class="footlinks">
      <p><%= link_to "Home", welcome_index_path %></p>
      <p><%= link_to "About", welcome_about_path %></p>
      <p><%= link_to "Members", members_index_path %></p>
      <p><%= link_to "Join", join_index_path %></p>
    </div>
    <div class="clubinformation">
      <p>contact us at <a href="mailto:ubinvestmentfund@gmail.com">UBInvestmentFund@gmail.com</a></p>
      <p>Website created by <a href="http://www.linkedin.com/pub/ryan-beegel/89/953/5b5/" target="blank">Ryan Beegel</a></p>
    </div>
    <div class="logo11">
      <%= image_tag 'logo.png' %>
    </div>
  </footer>
</html>